﻿@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-heading">
                <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                            @foreach (var item in Model)
                            {
                                if (ViewBag.CateId == item.Id)
                                {
                                    <li class="active"><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a></li>

                                }
                                else
                                {
                                    <li><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a></li>

                                }

                            }
                            @*<li><a href="#">Men (20)</a></li>
                                <li><a href="#">Women (20)</a></li>
                                <li><a href="#">Bags (20)</a></li>
                                <li><a href="#">Clothing (20)</a></li>
                                <li><a href="#">Shoes (20)</a></li>
                                <li><a href="#">Accessories (20)</a></li>
                                <li><a href="#">Kids (20)</a></li>
                                <li><a href="#">Kids (20)</a></li>
                                <li><a href="#">Kids (20)</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                </div>
                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__brand">
                            <ul>
                                <li><a href="#">Louis Vuitton</a></li>
                                <li><a href="#">Chanel</a></li>
                                <li><a href="#">Hermes</a></li>
                                <li><a href="#">Gucci</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="card">
            <div class="card-heading">
                <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
            </div>
            <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="shop__sidebar__price">
                            <ul>
                                <li><a href="#">0 - 50</a></li>
                                <li><a href="#">50 - 100</a></li>
                                <li><a href="#">100 - 150</a></li>
                                <li><a href="#">150 - 200</a></li>
                                <li><a href="#">200 - 250</a></li>
                                <li><a href="#">250+</a></li>
                            </ul>

                        </div>

                </div>
            </div>
        </div>
       
    </div>

}





