<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/admin/home" aria-expanded="false">
                    <i class="icon-speedometer menu-icon mb-1"></i><span class="nav-text">Trang chủ</span>
                </a>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a href="/admin/category" aria-expanded="false">
                    <i class="icon-grid menu-icon"></i><span class="nav-text">Danh mục</span>
                </a>
            </li>

            <li>
                <a href="/admin/news" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Tin tức</span>
                </a>
            </li>
            <li>
                <a href="/admin/posts" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Bài viết</span>
                </a>
            </li>
            <li>
                <a href="/admin/adv" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Quảng cáo</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i> <span class="nav-text">Quản lý sản phẩm</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/productcategory">Danh mục sản phẩm</a></li>
                    <li><a href="/admin/products">Sản phẩm</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i> <span class="nav-text">Cấu hình hệ thống</span>
                </a>
            </li>
            
    </div>
</div>
